<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
</head>

<body>
    <div align='center'>

        <h3>这里发送数据到留言板中</h3>
        <hr>
        <form action="send" method="get">
            <label for="name">What's your name?</label>
            <input type="text" name="name" id="name" value="" />
            <br>
            <label for="text">Say What?</label>
            <input type="text" name="text" id="text" value="" />
<br>
            <input type="submit" value="Submit">

        </form>
    </div>
</body>

</html>
